<?xml version="1.0"?>
<launch>
  <!-- Real robot/ros_control, robot_state_publisher and move_group must already run. -->
  <arg name="camera_serial_no" default=""/>
  <arg name="start_camera" default="true"/>
  <arg name="start_yolo_adapter" default="true"/>
  <arg name="plan_only" default="true"/>
  <arg name="start_enabled" default="false"/>

  <include if="$(arg start_camera)"
           file="$(find aubo_mobile_robot)/launch/eye_to_hand_rgbd_real.launch">
    <arg name="serial_no" value="$(arg camera_serial_no)"/>
  </include>
  <include if="$(arg start_yolo_adapter)"
           file="$(find aubo_mobile_perception)/launch/yolo_rgbd_detector.launch"/>
  <include file="$(find aubo_ros_control)/launch/eye_to_hand_moveit_servo.launch">
    <arg name="plan_only" value="$(arg plan_only)"/>
    <arg name="start_enabled" value="$(arg start_enabled)"/>
  </include>
</launch>
