<?xml version="1.0"?>
<launch>

  <group ns="aubo_i5">
    <!-- gazebo_ros_control is configured in the /aubo_i5 namespace. -->
    <rosparam file="$(find aubo_moveit_config)/config/ros_controllers.yaml" command="load"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
      output="screen" args="joint_state_controller aubo_i5_controller gripper_controller"/>
  </group>

</launch>
