<?xml version="1.0"?>
<launch>
  <!-- Fixed RGB-D camera with one TF authority. Replace xyz/rpy with the
       measured eye-to-hand calibration before commanding the real arm. -->
  <arg name="serial_no" default=""/>
  <arg name="camera_name" default="workspace_camera"/>
  <arg name="parent_frame" default="base_link"/>
  <arg name="x" default="0.55"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="1.60"/>
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="1.57079632679"/>
  <arg name="yaw" default="0.0"/>
  <arg name="enable_pointcloud" default="true"/>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="serial_no" value="$(arg serial_no)"/>
    <arg name="camera" value="$(arg camera_name)"/>
    <arg name="tf_prefix" value="$(arg camera_name)"/>
    <arg name="enable_color" value="true"/>
    <arg name="enable_depth" value="true"/>
    <arg name="align_depth" value="true"/>
    <arg name="enable_pointcloud" value="$(arg enable_pointcloud)"/>
    <arg name="publish_tf" value="false"/>
  </include>
  <include file="$(find aubo_description)/launch/eye_to_hand_camera_tf.launch">
    <arg name="parent_frame" value="$(arg parent_frame)"/>
    <arg name="camera_name" value="$(arg camera_name)"/>
    <arg name="x" value="$(arg x)"/><arg name="y" value="$(arg y)"/>
    <arg name="z" value="$(arg z)"/><arg name="roll" value="$(arg roll)"/>
    <arg name="pitch" value="$(arg pitch)"/><arg name="yaw" value="$(arg yaw)"/>
  </include>
</launch>
