<?xml version="1.0"?>
<launch>
  <!-- Deprecated compatibility entry. Use eye_in_hand_visual_servo_gazebo.launch. -->
  <arg name="gui" default="true"/>
  <arg name="target_topic" default="/visual_servo/target_pose"/>
  <arg name="loss_strategy" default="stop"/>
  <arg name="target_label" default="red"/>
  <arg name="auto_start" default="false"/>
  <arg name="start_perception" default="true"/>
  <arg name="rviz" default="true"/>
  <arg name="debug_view" default="false"/>
  <include file="$(find aubo_ros_control)/launch/eye_in_hand_visual_servo_gazebo.launch">
    <arg name="gui" value="$(arg gui)"/>
    <arg name="target_topic" value="$(arg target_topic)"/>
    <arg name="loss_strategy" value="$(arg loss_strategy)"/>
    <arg name="target_label" value="$(arg target_label)"/>
    <arg name="auto_start" value="$(arg auto_start)"/>
    <arg name="start_perception" value="$(arg start_perception)"/>
    <arg name="rviz" value="$(arg rviz)"/>
    <arg name="debug_view" value="$(arg debug_view)"/>
  </include>
</launch>
