<?xml version="1.0"?>
<launch>
  <arg name="scan_topic" default="/scan"/>
  <arg name="input_cmd_vel" default="/cmd_vel_raw"/>
  <arg name="output_cmd_vel" default="/cmd_vel"/>

  <node pkg="aubo_mobile_navigation" type="laser_safety_filter.py"
        name="laser_safety_filter" output="screen">
    <param name="scan_topic" value="$(arg scan_topic)"/>
    <param name="input_cmd_vel" value="$(arg input_cmd_vel)"/>
    <param name="output_cmd_vel" value="$(arg output_cmd_vel)"/>
    <param name="robot_half_width" value="0.30"/>
    <param name="safety_margin" value="0.12"/>
    <param name="stop_distance" value="0.35"/>
    <param name="reverse_stop_distance" value="0.35"/>
    <param name="reaction_time" value="0.25"/>
    <param name="max_deceleration" value="0.8"/>
    <param name="rotation_clearance" value="0.48"/>
    <param name="min_cluster_points" value="3"/>
    <param name="emergency_distance" value="0.18"/>
    <param name="scan_timeout" value="0.5"/>
    <param name="command_timeout" value="0.5"/>
  </node>
</launch>
