<?xml version="1.0"?>
<launch>
  <!-- The robot/Gazebo must already be running and map_file must exist. -->
  <arg name="map_file" default="$(find aubo_mobile_navigation)/maps/map.yaml"/>
  <arg name="rviz" default="true"/>
  <!-- RViz 点击 2D Nav Goal 发送的话题数据 对应的话题名称 默认名称会直接发送到move_base，move_base内部会转化为导航任务 -->
  <!-- 我们可修改话题 让我们的节点先接收该话题数据 然后决定是否执行导航 -->
  <arg name="nav_goal_topic" default="/move_base_simple/goal"/>
  <arg name="laser_safety" default="true"/>
  <arg name="raw_cmd_vel_topic" default="/cmd_vel_raw"/>

  <include file="$(find aubo_mobile_navigation)/launch/scan_merger.launch"/>

  <node pkg="map_server" type="map_server" name="map_server"
        args="$(arg map_file)" output="screen"/>

  <node pkg="amcl" type="amcl" name="amcl" clear_params="true" output="screen">
    <rosparam file="$(find aubo_mobile_navigation)/config/amcl.yaml" command="load"/>
    <remap from="scan" to="/scan"/>
  </node>

  <group if="$(arg laser_safety)">
    <include file="$(find aubo_mobile_navigation)/launch/move_base.launch.xml">
      <arg name="cmd_vel_topic" value="$(arg raw_cmd_vel_topic)"/>
    </include>
    <include file="$(find aubo_mobile_navigation)/launch/laser_safety_filter.launch">
      <arg name="scan_topic" value="/scan"/>
      <arg name="input_cmd_vel" value="$(arg raw_cmd_vel_topic)"/>
      <arg name="output_cmd_vel" value="/cmd_vel"/>
    </include>
  </group>
  <group unless="$(arg laser_safety)">
    <include file="$(find aubo_mobile_navigation)/launch/move_base.launch.xml">
      <arg name="cmd_vel_topic" value="/cmd_vel"/>
    </include>
  </group>

  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz"
        args="-d $(find aubo_mobile_navigation)/rviz/navigation.rviz">
    <remap from="/move_base_simple/goal" to="$(arg nav_goal_topic)"/>
  </node>
</launch>
