<?xml version="1.0"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro" name="camera">
    <xacro:macro name="usb_table" params="prefix:=table">
        <link name="${prefix}_link">
            <inertial>
                <origin xyz="0 0 0" />
                <mass value="0.1" />
                <inertia ixx="0.01" ixy="0.0" ixz="0.0"
                                 iyy="0.01" iyz="0.0" 
                                 izz="0.01" />
            </inertial>
            <visual>
                <origin xyz="0 0 0"  rpy="0 0 0" />
                <geometry>
                    <box size="1 1 0.02" />
                </geometry>
                <material name="blue" />
            </visual>
            <collision>
                <origin xyz="0.0 0.0 0.0"  rpy="0 0 0" />
                <geometry>
                    <box size="1 1 0.1" />
                </geometry>
            </collision>
        </link>
    </xacro:macro>

</robot>



