<launch>
  <!-- The supported physical RGB-D camera is Intel RealSense D435i. -->
  <arg name="serial_no" default=""/>
  <arg name="align_depth" default="true"/>
  <arg name="enable_imu" default="true"/>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="serial_no" value="$(arg serial_no)"/>
    <arg name="align_depth" value="$(arg align_depth)"/>
    <arg name="enable_accel" value="$(arg enable_imu)"/>
    <arg name="enable_gyro" value="$(arg enable_imu)"/>
  </include>
</launch>
