<?xml version="1.0"?>
<launch>
  <arg name="world" default="$(find aubo_planning)/worlds/octomap_obstacle.world"/>
  <arg name="gui" default="true"/>
  <arg name="rviz" default="true"/>
  <arg name="run_demo" default="true"/>
  <arg name="execute" default="true"/>
  <arg name="target_pose" default="home"/>

  <include file="$(find aubo_gazebo)/launch/aubo_world_gazebo.launch">
    <arg name="world_name" value="$(arg world)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>
  <include file="$(find aubo_gazebo)/launch/aubo_controller_gazebo.launch"/>

  <node name="aubo_joint_state_relay" pkg="joint_state_publisher"
        type="joint_state_publisher" output="screen">
    <rosparam param="source_list">[/aubo_i5/joint_states]</rosparam>
  </node>

  <include file="$(find aubo_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/>
    <arg name="load_robot_description" value="false"/>
    <arg name="robot_xacro" value="aubo_i5_with_camera.xacro"/>
    <arg name="robot_srdf" value="aubo_i5_with_camera.srdf"/>
    <arg name="use_sensor_manager" value="true"/>
  </include>

  <include if="$(arg rviz)" file="$(find aubo_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find aubo_moveit_config)/launch/moveit.rviz"/>
  </include>

  <include if="$(arg run_demo)" file="$(find aubo_planning)/launch/octomap_planning_demo.launch">
    <arg name="target_pose" value="$(arg target_pose)"/>
    <arg name="move_to_sensor_pose" value="true"/>
    <arg name="execute" value="$(arg execute)"/>
    <arg name="wait_timeout" value="45.0"/>
  </include>
</launch>
