<?xml version="1.0"?>
<launch>
  <!-- Robot, controllers and move_group must already be running. -->
  <arg name="start_perception" default="true"/>
  <arg name="start_task" default="true"/>
  <arg name="debug_view" default="true"/>

  <group if="$(arg start_perception)">
    <include file="$(find aubo_mobile_perception)/launch/color_detector.launch"/>
  </group>

  <node if="$(arg start_task)" pkg="aubo_mobile_sorting" type="color_sorting_task.py"
        name="color_sorting_task" output="screen">
    <rosparam file="$(find aubo_mobile_sorting)/config/sorting.yaml" command="load"/>
  </node>

  <node if="$(arg debug_view)" pkg="image_view" type="image_view"
        name="sorting_debug_view" output="screen">
    <remap from="image" to="/sorting/debug_image"/>
  </node>
</launch>
