<?xml version="1.0"?>
<launch>
  <!-- Robot, controllers and move_group must already be running. -->
  <arg name="start_perception" default="true"/>
  <arg name="perception_mode" default="color"/>
  <arg name="start_task" default="true"/>
  <arg name="config" default="$(find aubo_mobile_sorting)/config/sorting.yaml"/>
  <arg name="debug_view" default="true"/>
  <arg name="auto_move_to_observation" default="true"/>
  <arg name="auto_start" default="false"/>
  <arg name="use_grasp_attachment" default="true"/>
  <arg name="start_octomap_cloud_filter" default="true"/>

  <include if="$(arg start_octomap_cloud_filter)"
           file="$(find aubo_mobile_perception)/launch/workspace_cloud_filter.launch"/>

  <group if="$(arg start_perception)">
    <group if="$(eval arg('perception_mode') == 'color')">
      <include file="$(find aubo_mobile_perception)/launch/color_detector.launch"/>
    </group>
    <group if="$(eval arg('perception_mode') == 'yolo')">
      <include file="$(find aubo_mobile_perception)/launch/yolo_rgbd_detector.launch"/>
    </group>
  </group>

  <node if="$(arg start_task)" pkg="aubo_sorting_core" type="color_sorting_task.py"
        name="color_sorting_task" output="screen">
    <rosparam file="$(arg config)" command="load"/>
    <param name="auto_move_to_observation" value="$(arg auto_move_to_observation)"/>
    <param name="auto_start" value="$(arg auto_start)"/>
    <param name="use_grasp_attachment" value="$(arg use_grasp_attachment)"/>
  </node>

  <node if="$(arg debug_view)" pkg="image_view" type="image_view"
        name="sorting_debug_view" output="screen">
    <remap from="image" to="/sorting/debug_image"/>
  </node>
</launch>
