#!/usr/bin/env python3

PACKAGE = "aubo_mobile_follower"

from dynamic_reconfigure.parameter_generator_catkin import ParameterGenerator, double_t, int_t


generator = ParameterGenerator()

hsv = generator.add_group("HSV threshold")
hsv.add("h_min", int_t, 0, "HSV lower hue", 0, 0, 180)
hsv.add("s_min", int_t, 0, "HSV lower saturation", 0, 0, 255)
hsv.add("v_min", int_t, 0, "HSV lower value", 0, 0, 255)
hsv.add("h_max", int_t, 0, "HSV upper hue", 180, 0, 180)
hsv.add("s_max", int_t, 0, "HSV upper saturation", 255, 0, 255)
hsv.add("v_max", int_t, 0, "HSV upper value", 65, 0, 255)

detection = generator.add_group("Detection")
detection.add("roi_top_fraction", double_t, 0, "Top edge of image ROI", 0.55, 0.0, 0.95)
detection.add("min_mask_fraction", double_t, 0, "Minimum line pixels in ROI", 0.006, 0.0, 0.25)

control = generator.add_group("Control")
control.add("linear_speed", double_t, 0, "Nominal forward speed", 0.16, 0.0, 0.60)
control.add("angular_kp", double_t, 0, "Angular proportional gain", 0.9, 0.0, 5.0)
control.add("angular_kd", double_t, 0, "Angular derivative gain", 0.12, 0.0, 2.0)
control.add("max_angular_speed", double_t, 0, "Maximum yaw speed", 0.55, 0.0, 1.50)

exit(generator.generate(PACKAGE, "aubo_mobile_follower", "LineFollower"))
