<?xml version="1.0"?>
<launch>
  <arg name="world" default="$(find simple_diff_robot_gazebo)/worlds/line_follow.world"/>
  <arg name="gui" default="true"/>
  <arg name="start_robot" default="true"/>
  <arg name="use_laser_safety" default="true"/>
  <arg name="camera_pitch" default="0.8"/>
  <arg name="line_steering_sign" default="-1.0"/>
  <arg name="start_rqt_reconfigure" default="false"/>
  <arg name="start_rviz" default="true"/>

  <include file="$(find simple_diff_robot_gazebo)/launch/follow_base.launch">
    <arg name="follower_type" value="line_follower.py"/>
    <arg name="world" value="$(arg world)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="start_robot" value="$(arg start_robot)"/>
    <arg name="use_laser_safety" value="$(arg use_laser_safety)"/>
    <arg name="camera_pitch" value="$(arg camera_pitch)"/>
    <arg name="line_steering_sign" value="$(arg line_steering_sign)"/>
  </include>
  <node if="$(arg start_rqt_reconfigure)" pkg="rqt_reconfigure"
        type="rqt_reconfigure" name="follower_reconfigure" output="screen"/>
  <node if="$(arg start_rviz)" pkg="rviz" type="rviz"
        name="simple_diff_line_rviz" output="screen"
        args="-d $(find simple_diff_robot_gazebo)/rviz/line_follow.rviz"/>
</launch>
