<?xml version="1.0"?>
<launch>
  <!-- Source workspaces are writable. For an installed package, pass an absolute writable map_name. -->
  <arg name="map_name" default="$(find simple_diff_robot_gazebo)/maps/zlab_map"/>
  <node pkg="map_server" type="map_saver" name="map_saver" args="-f $(arg map_name)" output="screen"/>
</launch>
