#!/usr/bin/env python
# -*- coding: utf-8 -*-

PACKAGE = "aubo_mobile_nav_sorting"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("goal_x", double_t, 0, "Workstation X in the navigation frame", 2.15, -20.0, 20.0)
gen.add("goal_y", double_t, 0, "Workstation Y in the navigation frame", 0.0, -20.0, 20.0)
gen.add("goal_yaw", double_t, 0, "Workstation yaw in radians", 0.0, -3.14159, 3.14159)

gen.add("near_field_enabled", bool_t, 0, "Use pre-dock and validated fine docking", True)
gen.add("pre_dock_x", double_t, 0, "Pre-dock X in the navigation frame", 1.85, -20.0, 20.0)
gen.add("pre_dock_y", double_t, 0, "Pre-dock Y in the navigation frame", 0.0, -20.0, 20.0)
gen.add("pre_dock_yaw", double_t, 0, "Pre-dock yaw in radians", 0.0, -3.14159, 3.14159)
gen.add("near_field_base_clearance", double_t, 0, "Minimum base-centre to table clearance", 0.40, 0.10, 1.50)
gen.add("near_field_max_candidates", int_t, 0, "Maximum fine-dock candidates", 6, 1, 27)

gen.add("navigation_timeout", double_t, 0, "Timeout for each navigation attempt", 180.0, 5.0, 900.0)
gen.add("navigation_retries", int_t, 0, "Navigation retries after the first attempt", 1, 0, 10)
gen.add("server_timeout", double_t, 0, "Timeout while waiting for move_base", 45.0, 1.0, 180.0)
gen.add("sorting_initialization_timeout", double_t, 0, "Timeout while waiting for sorting readiness", 60.0, 1.0, 300.0)
gen.add("sorting_operation_timeout", double_t, 0, "Timeout for each arm/sorting operation", 300.0, 10.0, 1200.0)
gen.add("home_before_navigation", bool_t, 0, "Stow the arm before base navigation", True)

exit(gen.generate(PACKAGE, "nav_sorting_mission", "NavSorting"))
