#!/usr/bin/env python
# -*- coding: utf-8 -*-

PACKAGE = "aubo_sorting_core"
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
gen.add("detection_timeout", double_t, 0, "Wait for a detected object (s)", 15.0, 1.0, 120.0)
gen.add("detection_samples", int_t, 0, "Frames used for target averaging", 8, 1, 30)
gen.add("grasp_offset_x", double_t, 0, "Grasp X correction in target frame (m)", 0.0, -0.05, 0.05)
gen.add("grasp_offset_y", double_t, 0, "Grasp Y correction in target frame (m)", 0.0, -0.05, 0.05)
gen.add("velocity_scaling", double_t, 0, "MoveIt velocity scaling", 0.15, 0.01, 1.0)
gen.add("acceleration_scaling", double_t, 0, "MoveIt acceleration scaling", 0.15, 0.01, 1.0)

exit(gen.generate(PACKAGE, "color_sorting_task", "SortingTask"))
