<?xml version="1.0"?>
<launch>
  <!-- Real robot description, base/arm drivers and controllers must already run. -->
  <arg name="map_file" default="$(find aubo_mobile_nav_sorting)/maps/nav_sorting.yaml"/>
  <arg name="rviz" default="true"/>
  <arg name="debug_view" default="false"/>
  <arg name="sorting_config" default="$(find aubo_mobile_sorting)/config/sorting.yaml"/>
  <arg name="auto_start" default="false"/>
  <arg name="goal_x" default="2.15"/>
  <arg name="goal_y" default="0.0"/>
  <arg name="goal_yaw" default="0.0"/>

  <include file="$(find aubo_mobile_navigation)/launch/navigation.launch">
    <arg name="map_file" value="$(arg map_file)"/>
    <arg name="rviz" value="$(arg rviz)"/>
  </include>

  <include file="$(find aubo_mobile_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/>
    <arg name="load_robot_description" value="false"/>
  </include>

  <include file="$(find aubo_mobile_sorting)/launch/sorting.launch">
    <arg name="config" value="$(arg sorting_config)"/>
    <arg name="debug_view" value="$(arg debug_view)"/>
    <arg name="auto_move_to_observation" value="false"/>
    <arg name="auto_start" value="false"/>
    <arg name="use_grasp_attachment" value="false"/>
  </include>

  <include file="$(find aubo_mobile_nav_sorting)/launch/mission.launch">
    <arg name="auto_start" value="$(arg auto_start)"/>
    <arg name="goal_x" value="$(arg goal_x)"/>
    <arg name="goal_y" value="$(arg goal_y)"/>
    <arg name="goal_yaw" value="$(arg goal_yaw)"/>
  </include>
</launch>
